In [1]:
import pandas as pd

In [8]:
ggacpc = "../2_Transform/USDA-HB_Colony_Health_2019/hbcny_+-_2019_q1.csv"
df1 = pd.read_csv(ggacpc)
df1.head()

        state  num_cny_on_day1_qtr  ... renovated_cny  pct_renovated
0     Alabama                 5500  ...         200.0            4.0
1     Arizona                22000  ...          90.0            0.0
2    Arkansas                28000  ...          20.0            0.0
3  California              1140000  ...       86000.0            5.0
4    Colorado                 5000  ...           NaN            NaN

[5 rows x 8 columns]

In [11]:
df1 = df1[['state', 'num_cny_on_day1_qtr', 'max_cny', 'lost_cny', 'pct_lost']]
df1.head()

        state  num_cny_on_day1_qtr  max_cny  lost_cny  pct_lost
0     Alabama                 5500     5500       650        12
1     Arizona                22000    22000      2500        11
2    Arkansas                28000    28000      6500        23
3  California              1140000  1580000    235000        15
4    Colorado                 5000     7500       320         4

In [12]:
X = df1[['state', 'max_cny', 'lost_cny', 'pct_lost']]
y = df1['num_cny_on_day1_qtr']

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)