In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import os
# from sklearn import preprocessing
# from sklearn import utils
from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn import tree
from sklearn.svm import LinearSVR
from sklearn.pipeline import make_pipeline
# from sklearn.datasets import make_regression

In [2]:
honey = "../2_Transform/hp_prod_19.csv"
df1 = pd.read_csv(honey)
df1.head()

,state,max_h_prod_cny,yield/cny,prod(1000_lbs),prod_held_stocks,avg_price/lb(1_dollar),value_prod(1000_dollars)
0,Alabama,7,42.0,294,44,3.38,994
1,Arizona,23,46.0,1058,201,2.04,2158
2,Arkansas,20,55.0,1100,176,1.65,1815
3,California,335,48.0,16080,3216,1.60,25728
4,Colorado,32,46.0,1472,500,2.34,3444

In [3]:
df1 = df1[df1['state']!='United States']
# df1 = df1[df1['state']!='Other States']
df1.head

<bound method NDFrame.head of              state  max_h_prod_cny  yield/cny  prod(1000_lbs)  \
0          Alabama               7       42.0             294
1          Arizona              23       46.0            1058
2         Arkansas              20       55.0            1100
3       California             335       48.0           16080
4         Colorado              32       46.0            1472
5          Florida             205       45.0            9225
6          Georgia             102       33.0            3366
7           Hawaii              16       80.0            1280
8            Idaho              92       32.0            2944
9         Illinois              11       39.0             429
10         Indiana               9       55.0             495
11            Iowa              38       55.0            2090
12          Kansas               7       79.0             553
13        Kentucky               6       41.0             246
14       Louisiana              54       72.0            3888
15           Maine              15       35.0             525
16        Michigan              94       50.0            4700
17       Minnesota             118       59.0            6962
18     Mississippi              22       80.0            1760
19        Missouri              10       43.0             430
20         Montana             173       86.0           14878
21        Nebraska              39       52.0            2028
22      New Jersey              15       28.0             420
23        New York              59       58.0            3422
24  North Carolina              14       42.0             588
25    North Dakota             520       65.0           33800
26            Ohio              15       67.0            1005
27          Oregon              87       32.0            2784
28    Pennsylvania              19       50.0             950
29  South Carolina              16       47.0             752
30    South Dakota             270       72.0           19440
31       Tennessee               8       57.0             456
32           Texas             126       60.0            7560
33            Utah              22       29.0             638
34         Vermont               6       48.0             288
35        Virginia               5       39.0             195
36      Washington              81       35.0            2835
37   West Virginia               6       37.0             222
38       Wisconsin              46       47.0            2162
39         Wyoming              39       56.0            2184
40    Other States              30       47.0            1418

    prod_held_stocks  avg_price/lb(1_dollar)  value_prod(1000_dollars)
0                 44                    3.38                       994
1                201                    2.04                      2158
2                176                    1.65                      1815
3               3216                    1.60                     25728
4                500                    2.34                      3444
5                830                    2.46                     22694
6                370                    2.67                      8987
7                 51                    1.30                      1664
8                677                    1.62                      4769
9                116                    4.12                      1767
10               188                    3.78                      1871
11              1170                    2.35                      4912
12               171                    2.35                      1300
13                44                    4.66                      1146
14               428                    2.15                      8359
15               110                    3.28                      1722
16              1363                    2.56                     12032
17              3063                    1.83                     12740
18               141                    1.87                      3291
19                73                    3.35                      1441
20              5802                    1.49                     22168
21               223                    1.44                      2920
22               155                    4.68                      1966
23              1027                    4.00                     13688
24               118                    4.11                      2417
25              6422                    1.43                     48334
26               442                    3.46                      3477
27              1141                    2.50                      6960
28               409                    4.41                      4190
29                45                    5.03                      3783
30              7582                    1.56                     30326
31                91                    4.72                      2152
32              1663                    2.32                     17539
33                89                    1.97                      1257
34                84                    4.48                      1290
35                49                    7.19                      1402
36              1191                    2.18                      6180
37                47                    4.26                       946
38               692                    3.00                      6486
39               306                    1.43                      3123
40               351                    4.65                      6594  >

In [4]:
stress = "../2_Transform/hbcny_stress_19.csv"
df2 = pd.read_csv(stress)
df2.head

<bound method NDFrame.head of              state  v_mites  other_pest_para  diseases  pesticides  other  \
0          Alabama    34.83            24.67      1.77        1.80   7.27
1          Arizona    36.23             6.43      3.20       16.97   8.53
2         Arkansas    40.13            20.30      3.83       37.87   6.70
3       California    44.33            11.93      6.77       13.20   9.27
4         Colorado    52.90             4.77      4.80       12.75   4.83
5      Connecticut    18.87             6.43      2.40         NaN   3.07
6          Florida    45.10            23.70      6.53       17.60   8.97
7          Georgia    52.13            18.20      4.87       14.83  10.10
8           Hawaii    51.10            55.23      0.20        0.85   1.43
9            Idaho    34.90             9.23     11.70        9.87  12.33
10        Illinois    32.70            16.77      1.63        2.20   9.97
11         Indiana    30.67            13.00      2.73       11.77   9.30
12            Iowa    45.07             8.87      4.00       17.27  18.40
13          Kansas    73.40            18.87     12.07       26.50   7.73
14        Kentucky    27.93            16.87      0.23        5.27  10.20
15       Louisiana    52.63            28.87      1.33       19.33   3.20
16           Maine    10.97             0.40      0.10        2.50   0.63
17        Maryland    17.30             4.10      1.00        0.15   5.17
18   Massachusetts    10.30             1.55      0.50        2.15   2.70
19        Michigan    32.63            10.63      6.47        5.27   5.13
20       Minnesota    31.17             5.40      2.37        9.75   3.47
21     Mississippi    38.23            51.53     23.77       29.23   5.47
22        Missouri    14.33             5.10      0.83        0.47   3.00
23         Montana    19.60             3.93      5.30        2.57   2.57
24        Nebraska    22.43             1.67     16.90        2.37   4.07
25      New Jersey    14.63             2.53      0.30        0.20   1.77
26      New Mexico    16.07            10.17      0.63         NaN   1.60
27        New York    24.87            12.93      1.97        6.20   4.47
28  North Carolina    29.27            11.43      8.13        2.37   9.20
29    North Dakota    32.77             8.65      8.25        6.40   8.70
30            Ohio    41.03            12.83      5.23        1.17   5.30
31        Oklahoma    12.57             0.70      0.10        0.25   1.50
32          Oregon    29.73             5.00      8.23        5.70  11.97
33    Other States    10.60             2.87      1.60        4.00  11.97
34    Pennsylvania    23.97             6.00      2.17        4.07   3.77
35  South Carolina    40.03            14.83      0.77        7.13  15.03
36    South Dakota     7.80             3.20      1.75        7.37   5.33
37       Tennessee    60.27            33.47      2.65       14.53   8.93
38           Texas    23.70            12.93      4.77        8.23   6.63
39   United States    45.13            14.40      7.00       12.70   9.83
40            Utah    24.80             3.45      2.53        5.25   0.37
41         Vermont    16.47             1.90      1.23        0.80   0.43
42        Virginia    30.73            16.57      0.70        0.80   3.97
43      Washington    36.63             1.33      1.23        8.17   4.37
44   West Virginia    36.60             8.20      0.97        1.10   6.00
45       Wisconsin    34.10            15.27      9.80       11.10  14.10
46         Wyoming    24.67             6.35      2.20        2.20   3.70

    unknown
0      8.90
1      1.23
2     25.00
3      4.60
4      0.80
5      1.27
6      7.03
7      4.63
8      0.20
9      0.63
10    10.17
11     1.23
12     3.77
13     6.30
14     7.70
15     1.43
16     0.37
17     2.93
18     6.30
19     2.00
20     2.30
21     5.27
22     1.40
23     0.80
24     2.80
25     0.40
26     0.30
27     5.60
28     6.93
29     4.10
30     4.87
31     1.50
32     5.63
33     0.87
34     6.00
35     3.67
36     1.73
37     5.90
38     2.17
39     5.00
40     4.57
41     0.73
42     6.13
43     1.23
44     1.27
45     5.40
46     6.00  >

In [5]:
df2 = df2[df2['state']!='Connecticut']
df2 = df2[df2['state']!='Maryland']
df2 = df2[df2['state']!='Massachusetts']
df2 = df2[df2['state']!='Oklahoma']
df2 = df2[df2['state']!='New Mexico']
df2 = df2[df2['state']!='United States']
df2.head()

        state  v_mites  other_pest_para  diseases  pesticides  other  unknown
0     Alabama    34.83            24.67      1.77        1.80   7.27     8.90
1     Arizona    36.23             6.43      3.20       16.97   8.53     1.23
2    Arkansas    40.13            20.30      3.83       37.87   6.70    25.00
3  California    44.33            11.93      6.77       13.20   9.27     4.60
4    Colorado    52.90             4.77      4.80       12.75   4.83     0.80

In [6]:
df1 = df1.merge(df2, left_on='state', right_on='state', suffixes=('_hb', '_stress'))
df1.head

<bound method NDFrame.head of              state  max_h_prod_cny  yield/cny  prod(1000_lbs)  \
0          Alabama               7       42.0             294
1          Arizona              23       46.0            1058
2         Arkansas              20       55.0            1100
3       California             335       48.0           16080
4         Colorado              32       46.0            1472
5          Florida             205       45.0            9225
6          Georgia             102       33.0            3366
7           Hawaii              16       80.0            1280
8            Idaho              92       32.0            2944
9         Illinois              11       39.0             429
10         Indiana               9       55.0             495
11            Iowa              38       55.0            2090
12          Kansas               7       79.0             553
13        Kentucky               6       41.0             246
14       Louisiana              54       72.0            3888
15           Maine              15       35.0             525
16        Michigan              94       50.0            4700
17       Minnesota             118       59.0            6962
18     Mississippi              22       80.0            1760
19        Missouri              10       43.0             430
20         Montana             173       86.0           14878
21        Nebraska              39       52.0            2028
22      New Jersey              15       28.0             420
23        New York              59       58.0            3422
24  North Carolina              14       42.0             588
25    North Dakota             520       65.0           33800
26            Ohio              15       67.0            1005
27          Oregon              87       32.0            2784
28    Pennsylvania              19       50.0             950
29  South Carolina              16       47.0             752
30    South Dakota             270       72.0           19440
31       Tennessee               8       57.0             456
32           Texas             126       60.0            7560
33            Utah              22       29.0             638
34         Vermont               6       48.0             288
35        Virginia               5       39.0             195
36      Washington              81       35.0            2835
37   West Virginia               6       37.0             222
38       Wisconsin              46       47.0            2162
39         Wyoming              39       56.0            2184
40    Other States              30       47.0            1418

    prod_held_stocks  avg_price/lb(1_dollar)  value_prod(1000_dollars)  \
0                 44                    3.38                       994
1                201                    2.04                      2158
2                176                    1.65                      1815
3               3216                    1.60                     25728
4                500                    2.34                      3444
5                830                    2.46                     22694
6                370                    2.67                      8987
7                 51                    1.30                      1664
8                677                    1.62                      4769
9                116                    4.12                      1767
10               188                    3.78                      1871
11              1170                    2.35                      4912
12               171                    2.35                      1300
13                44                    4.66                      1146
14               428                    2.15                      8359
15               110                    3.28                      1722
16              1363                    2.56                     12032
17              3063                    1.83                     12740
18               141                    1.87                      3291
19                73                    3.35                      1441
20              5802                    1.49                     22168
21               223                    1.44                      2920
22               155                    4.68                      1966
23              1027                    4.00                     13688
24               118                    4.11                      2417
25              6422                    1.43                     48334
26               442                    3.46                      3477
27              1141                    2.50                      6960
28               409                    4.41                      4190
29                45                    5.03                      3783
30              7582                    1.56                     30326
31                91                    4.72                      2152
32              1663                    2.32                     17539
33                89                    1.97                      1257
34                84                    4.48                      1290
35                49                    7.19                      1402
36              1191                    2.18                      6180
37                47                    4.26                       946
38               692                    3.00                      6486
39               306                    1.43                      3123
40               351                    4.65                      6594

    v_mites  other_pest_para  diseases  pesticides  other  unknown
0     34.83            24.67      1.77        1.80   7.27     8.90
1     36.23             6.43      3.20       16.97   8.53     1.23
2     40.13            20.30      3.83       37.87   6.70    25.00
3     44.33            11.93      6.77       13.20   9.27     4.60
4     52.90             4.77      4.80       12.75   4.83     0.80
5     45.10            23.70      6.53       17.60   8.97     7.03
6     52.13            18.20      4.87       14.83  10.10     4.63
7     51.10            55.23      0.20        0.85   1.43     0.20
8     34.90             9.23     11.70        9.87  12.33     0.63
9     32.70            16.77      1.63        2.20   9.97    10.17
10    30.67            13.00      2.73       11.77   9.30     1.23
11    45.07             8.87      4.00       17.27  18.40     3.77
12    73.40            18.87     12.07       26.50   7.73     6.30
13    27.93            16.87      0.23        5.27  10.20     7.70
14    52.63            28.87      1.33       19.33   3.20     1.43
15    10.97             0.40      0.10        2.50   0.63     0.37
16    32.63            10.63      6.47        5.27   5.13     2.00
17    31.17             5.40      2.37        9.75   3.47     2.30
18    38.23            51.53     23.77       29.23   5.47     5.27
19    14.33             5.10      0.83        0.47   3.00     1.40
20    19.60             3.93      5.30        2.57   2.57     0.80
21    22.43             1.67     16.90        2.37   4.07     2.80
22    14.63             2.53      0.30        0.20   1.77     0.40
23    24.87            12.93      1.97        6.20   4.47     5.60
24    29.27            11.43      8.13        2.37   9.20     6.93
25    32.77             8.65      8.25        6.40   8.70     4.10
26    41.03            12.83      5.23        1.17   5.30     4.87
27    29.73             5.00      8.23        5.70  11.97     5.63
28    23.97             6.00      2.17        4.07   3.77     6.00
29    40.03            14.83      0.77        7.13  15.03     3.67
30     7.80             3.20      1.75        7.37   5.33     1.73
31    60.27            33.47      2.65       14.53   8.93     5.90
32    23.70            12.93      4.77        8.23   6.63     2.17
33    24.80             3.45      2.53        5.25   0.37     4.57
34    16.47             1.90      1.23        0.80   0.43     0.73
35    30.73            16.57      0.70        0.80   3.97     6.13
36    36.63             1.33      1.23        8.17   4.37     1.23
37    36.60             8.20      0.97        1.10   6.00     1.27
38    34.10            15.27      9.80       11.10  14.10     5.40
39    24.67             6.35      2.20        2.20   3.70     6.00
40    10.60             2.87      1.60        4.00  11.97     0.87  >

In [7]:
X = df1[['max_h_prod_cny','prod_held_stocks']]
y = df1['yield/cny'].astype(int)
feature_names = X
print(X.shape, y.shape)

(41, 2) (41,)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [9]:
regr = make_pipeline(StandardScaler(),LinearSVR(random_state=23, tol=1e-5))
regr.fit(X, y)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('linearsvr', LinearSVR(random_state=23, tol=1e-05))])

In [10]:
print(regr.named_steps['linearsvr'].coef_)

[1.14549817 2.21096316]

In [11]:
print(regr.predict([[input(),input()]]))
# margin of error is 10

[31.07559158]

In [12]:
print(regr.score(X,y))

-1.3785437127007492