In [36]:
## Dependencies and setup
import pandas as pd

In [37]:
## Load data files
hbcny_h1 = "../1_Extract/USDA-HB_Colony_Health_2019_and_2020/hbcny_+-_2019_q1_t005.csv"

In [38]:
## Read data and store into df
## Drop the first 5 rows which hold info text
hbcny_h1 = pd.read_csv(hbcny_h1, skiprows=5)

In [39]:
hbcny_h1

,5,h,Unnamed: 2,colonies,Maximum,Lost,Percent,Added,Renovated,Percent.1
0,5,h,NaN,NaN,colonies 1/,colonies,lost 2/,colonies,colonies 3/,renovated 4/
1,5,h,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,u,NaN,(number),(number),(number),(percent),(number),(number),(percent)
3,5,d,Alabama,5500,5500,650,12,800,200,4
4,5,d,Arizona,22000,22000,2500,11,430,90,(Z)
...,...,...,...,...,...,...,...,...,...,...
60,5,f,1/ January 1 colonies plus all colonies moved ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,5,f,2/ Percent lost is the number of lost colonies...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,5,f,3/ Defined as any surviving colony that was re...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,5,f,4/ Percent renovated is the number of renovate...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,5,f,5/ Includes data for States not published in t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
## Drop erroneous first 2 columns
#hbcny_h1 = hbcny_h1.drop(['5', 'h'], axis=1)

## Drop erroneous last few rows
hbcny_h1 = hbcny_h1.drop(hbcny_h1.index[56:65])

## Drop row [0] and rename column appropriately
hbcny_h1 = hbcny_h1.drop([0])

hbcny_h1

,Unnamed: 2,colonies,Maximum,Lost,Percent,Added,Renovated,Percent.1
0,NaN,NaN,colonies 1/,colonies,lost 2/,colonies,colonies 3/,renovated 4/
2,NaN,(number),(number),(number),(percent),(number),(number),(percent)
3,Alabama,5500,5500,650,12,800,200,4
4,Arizona,22000,22000,2500,11,430,90,(Z)
5,Arkansas,28000,28000,6500,23,20,20,(Z)
6,California,1140000,1580000,235000,15,83000,86000,5
7,Colorado,5000,7500,320,4,-,-,-
8,Connecticut,3100,3100,270,9,170,10,(Z)
9,Florida,300000,315000,46000,15,41000,16500,5
10,Georgia,120000,129000,14500,11,19500,8000,6
11,Hawaii,16500,16500,390,2,660,3700,22
12,Idaho,132000,145000,12500,9,4600,1100,1
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Illinois,9000,9000,2300,26,210,80,1
15,Indiana,6000,6000,710,12,440,280,5
16,Iowa,7500,11500,1600,14,170,140,1
17,Kansas,4500,4500,1500,33,370,110,2
18,Kentucky,3700,4400,890,20,60,30,1
19,Louisiana,49000,51000,3500,7,9000,16000,31
20,Maine,7000,7000,470,7,10,30,(Z)
21,Maryland,8000,8000,2300,29,30,10,(Z)
22,Massachusetts,3800,3800,680,18,60,20,1
23,Michigan,24000,33000,6500,20,-,-,-
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Minnesota,17000,43000,2200,5,80,470,1
26,Mississippi,26000,29000,2400,8,3800,1700,6
27,Missouri,8500,8500,1100,13,80,60,1
28,Montana,37000,68000,3500,5,1700,1900,3
29,Nebraska,13500,16500,2500,15,-,-,-
30,New Jersey,6000,6000,310,5,130,60,1
31,New Mexico,4800,4800,170,4,-,-,-
32,New York,24000,24000,3400,14,110,80,(Z)
33,North Carolina,10500,14500,1700,12,750,890,6
34,North Dakota,92000,102000,1100,1,-,1300,1
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Ohio,10500,12500,3500,28,1700,440,4
37,Oklahoma,21000,55000,50,(Z),20,-,-
38,Oregon,89000,95000,7500,8,8000,1800,2
39,Pennsylvania,15000,15000,2900,19,370,320,2
40,South Carolina,12000,13000,690,5,2000,340,3
41,South Dakota,18500,18500,1100,6,-,-,-
42,Tennessee,6000,7000,1500,21,240,320,5
43,Texas,260000,330000,17000,5,61000,35000,11
44,Utah,8500,11000,1800,16,900,-,-
45,Vermont,6500,6500,260,4,50,(Z),(Z)
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Virginia,5500,5500,1100,20,80,110,2
48,Washington,51000,75000,7000,9,5500,2200,3
49,West Virginia,5000,7000,1300,19,20,60,1
50,Wisconsin,16500,17000,3700,22,580,100,1
51,Wyoming,6500,9500,250,3,-,-,-
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Other States 5/,6070,6070,590,10,70,30,(Z)
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,United States,2671470,(X),407700,15,247710,179500,7