In [20]:
## Dependencies and setup
import pandas as pd
import numpy as np

In [30]:
## Load data files
veg_p_and_h = "../../1_Extract/USDA-Vegetable_2017-2019/veg_plant_and_harvest_xstate_2017-2019.csv"

In [31]:
## Read data and store into df
## Drop the first 3 rows which hold info text
veg_p_and_h = pd.read_csv(veg_p_and_h, skiprows=3)
veg_p_and_h

,324,h,Unnamed: 2,Area planted,Area planted.1,Area planted.2,Area harvested,Area harvested.1,Area harvested.2
0,324,h,State,NaN,NaN,NaN,NaN,NaN,NaN
1,324,h,NaN,2017 1/,2018 1/,2019 2/,2017 1/,2018 1/,2019 2/
2,324,h,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,324,u,NaN,(acres),(acres),(acres),(acres),(acres),(acres)
4,324,d,Alabama 3/,5600,6000,(NA),5400,5900,(NA)
5,324,d,Arizona,129900,(D),124300,127000,(D),123900
6,324,d,California 4/,1059100,999400,985600,1039900,985800,972400
7,324,d,Colorado,(D),(D),3200,(D),(D),2700
8,324,d,Delaware 3/,(D),(D),(NA),(D),(D),(NA)
9,324,d,Florida 4/,178700,180000,175500,172700,172800,170700
10,324,d,Georgia,97100,102900,96600,91900,95400,92900
11,324,d,Idaho,16700,12600,11000,16400,12300,10900
12,324,d,Illinois,48800,40900,43100,46100,38850,38100
13,324,d,Indiana,28500,29200,11700,27800,28000,11100
14,324,d,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,324,d,Maryland 3/,(D),(D),(NA),(D),(D),(NA)
16,324,d,Michigan,110800,107700,90100,107500,101900,87200
17,324,d,Minnesota,176800,171000,160500,165100,160600,154300
18,324,d,Mississippi 4/,-,-,28000,-,-,27500
19,324,d,Missouri 3/,3100,(D),(NA),3000,(D),(NA)
20,324,d,New Jersey,30000,30300,11200,28800,28500,10600
21,324,d,New Mexico,15400,15600,15700,14700,15000,15300
22,324,d,New York,94300,97700,90100,90100,89200,86300
23,324,d,North Carolina 4/,38300,40700,127700,37300,36500,126300
24,324,d,Ohio,22200,22700,3700,21300,21500,3500
25,324,d,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,324,d,Oregon,(D),(D),80700,(D),(D),79000
27,324,d,Pennsylvania,29300,30500,14700,27650,25500,13500
28,324,d,South Carolina,(D),10700,5000,(D),10300,4500
29,324,d,Tennessee 3/,11700,13800,(NA),11300,12700,(NA)
30,324,d,Texas,73700,67500,54000,67600,62000,50100
31,324,d,Virginia,6250,8300,5700,6000,7500,5600
32,324,d,Washington,160400,147700,144900,154300,144100,140300
33,324,d,Wisconsin,(D),(D),164300,(D),(D),155900
34,324,d,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,324,d,Other States 5/,323050,445250,-,310630,430750,-
36,324,d,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,324,d,United States,2659700,2580450,2447300,2572480,2485100,2382600
38,324,c,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,324,c,See footnote(s) at end of table.,--continued,NaN,NaN,NaN,NaN,NaN

In [32]:
## Drop erroneous first 2 columns and non-2019 data
veg_p_and_h.drop(veg_p_and_h.iloc[:, [0, 1, 3, 4, 6, 7]], axis = 1, inplace = True)

## Drop erroneous last few rows
#veg_p_and_h.drop(veg_p_and_h.index[56:66])

veg_p_and_h.head()

   Unnamed: 2 Area planted.2 Area harvested.2
0       State            NaN              NaN
1         NaN        2019 2/          2019 2/
2         NaN            NaN              NaN
3         NaN        (acres)          (acres)
4  Alabama 3/           (NA)             (NA)

In [33]:
veg_p_and_h.columns = [np.arange(0,veg_p_and_h.shape[1])]

veg_p_and_h.head()

                                   0        1        2
0                              State      NaN      NaN
1                                NaN  2019 2/  2019 2/
2                                NaN      NaN      NaN
3                                NaN  (acres)  (acres)
4                         Alabama 3/     (NA)     (NA)
5                            Arizona   124300   123900
6                      California 4/   985600   972400
7                           Colorado     3200     2700
8                        Delaware 3/     (NA)     (NA)
9                         Florida 4/   175500   170700
10                           Georgia    96600    92900
11                             Idaho    11000    10900
12                          Illinois    43100    38100
13                           Indiana    11700    11100
14                               NaN      NaN      NaN
15                       Maryland 3/     (NA)     (NA)
16                          Michigan    90100    87200
17                         Minnesota   160500   154300
18                    Mississippi 4/    28000    27500
19                       Missouri 3/     (NA)     (NA)
20                        New Jersey    11200    10600
21                        New Mexico    15700    15300
22                          New York    90100    86300
23                 North Carolina 4/   127700   126300
24                              Ohio     3700     3500
25                               NaN      NaN      NaN
26                            Oregon    80700    79000
27                      Pennsylvania    14700    13500
28                    South Carolina     5000     4500
29                      Tennessee 3/     (NA)     (NA)
30                             Texas    54000    50100
31                          Virginia     5700     5600
32                        Washington   144900   140300
33                         Wisconsin   164300   155900
34                               NaN      NaN      NaN
35                   Other States 5/        -        -
36                               NaN      NaN      NaN
37                     United States  2447300  2382600
38                               NaN      NaN      NaN
39  See footnote(s) at end of table.      NaN      NaN

In [34]:
#veg_p_and_h = pd.DataFrame(veg_p_and_h)

## Rename columns
# veg_p_and_h = veg_p_and_h.columns.rename(columns={
#     "Unnamed: 2": "state",
#     "Area planted.2": "area_planted(acres)",
#     "Area harvested.2": "area_harvested(acres)"
# })



veg_p_and_h.columns["state", "area_planted(acres)", "area_harvested(acres)"]

veg_p_and_h.head()

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [10]:
## Drop blank rows
veg_p_and_h = veg_p_and_h.dropna()
veg_p_and_h.tail()

,state,max_h_prod_cny,yield/cny,prod(1000_lbs),prod_held_stocks,avg_price/lb(1_dollar),value_prod(1000_dollars)
44,West Virginia,6,37,222,47,4.26,946
45,Wisconsin,46,47,2162,692,3,6486
46,Wyoming,39,56,2184,306,1.43,3123
48,Other States 5/ 6/,30,47,1418,351,4.65,6594
50,United States 6/ 7/,2812,55.8,156922,40861,1.99,312275

In [11]:
## Rename cells
veg_p_and_h.loc[48, "state"] = "Other States"
veg_p_and_h.loc[50, "state"] = "United States"
veg_p_and_h.tail()

C:\Users\Daniel Ramirez\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-11-e6213e75a86b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veg_p_and_h.loc[48, "state"] = "Other States"
<ipython-input-11-e6213e75a86b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veg_p_and_h.loc[50, "state"] = "United States"

,state,max_h_prod_cny,yield/cny,prod(1000_lbs),prod_held_stocks,avg_price/lb(1_dollar),value_prod(1000_dollars)
44,West Virginia,6,37,222,47,4.26,946
45,Wisconsin,46,47,2162,692,3,6486
46,Wyoming,39,56,2184,306,1.43,3123
48,Other States,30,47,1418,351,4.65,6594
50,United States,2812,55.8,156922,40861,1.99,312275

In [12]:
## Reset the index
veg_p_and_h = veg_p_and_h.reset_index(drop = True)
veg_p_and_h

,state,max_h_prod_cny,yield/cny,prod(1000_lbs),prod_held_stocks,avg_price/lb(1_dollar),value_prod(1000_dollars)
0,Alabama,7,42,294,44,3.38,994
1,Arizona,23,46,1058,201,2.04,2158
2,Arkansas,20,55,1100,176,1.65,1815
3,California,335,48,16080,3216,1.6,25728
4,Colorado,32,46,1472,500,2.34,3444
5,Florida,205,45,9225,830,2.46,22694
6,Georgia,102,33,3366,370,2.67,8987
7,Hawaii,16,80,1280,51,1.3,1664
8,Idaho,92,32,2944,677,1.62,4769
9,Illinois,11,39,429,116,4.12,1767
10,Indiana,9,55,495,188,3.78,1871
11,Iowa,38,55,2090,1170,2.35,4912
12,Kansas,7,79,553,171,2.35,1300
13,Kentucky,6,41,246,44,4.66,1146
14,Louisiana,54,72,3888,428,2.15,8359
15,Maine,15,35,525,110,3.28,1722
16,Michigan,94,50,4700,1363,2.56,12032
17,Minnesota,118,59,6962,3063,1.83,12740
18,Mississippi,22,80,1760,141,1.87,3291
19,Missouri,10,43,430,73,3.35,1441
20,Montana,173,86,14878,5802,1.49,22168
21,Nebraska,39,52,2028,223,1.44,2920
22,New Jersey,15,28,420,155,4.68,1966
23,New York,59,58,3422,1027,4,13688
24,North Carolina,14,42,588,118,4.11,2417
25,North Dakota,520,65,33800,6422,1.43,48334
26,Ohio,15,67,1005,442,3.46,3477
27,Oregon,87,32,2784,1141,2.5,6960
28,Pennsylvania,19,50,950,409,4.41,4190
29,South Carolina,16,47,752,45,5.03,3783
30,South Dakota,270,72,19440,7582,1.56,30326
31,Tennessee,8,57,456,91,4.72,2152
32,Texas,126,60,7560,1663,2.32,17539
33,Utah,22,29,638,89,1.97,1257
34,Vermont,6,48,288,84,4.48,1290
35,Virginia,5,39,195,49,7.19,1402
36,Washington,81,35,2835,1191,2.18,6180
37,West Virginia,6,37,222,47,4.26,946
38,Wisconsin,46,47,2162,692,3,6486
39,Wyoming,39,56,2184,306,1.43,3123
40,Other States,30,47,1418,351,4.65,6594
41,United States,2812,55.8,156922,40861,1.99,312275

In [13]:
veg_p_and_h.to_csv("../veg_plant_and_harvest_19.csv", index=False)