In [21]:
## Dependencies and setup
import pandas as pd

In [22]:
## Load data files
q1 = "hbcny_stress_19q1.csv"
q2 = "hbcny_stress_19q2.csv"
q3 = "hbcny_stress_19q3.csv"
q4 = "hbcny_stress_19q4.csv"

In [23]:
## Read data and store into df
## Drop the first 4 rows which hold info text
s_q1 = pd.read_csv(q1) 
s_q2 = pd.read_csv(q2)
s_q3 = pd.read_csv(q3)
s_q4 = pd.read_csv(q4)

s_q4.head()

        state  v_mites  other_pest_para  diseases  pesticides  other  unknown
0     Alabama     46.7             26.7       0.6         4.9    9.0     11.3
1     Arizona     53.9              1.5       0.4        23.3    4.0      2.9
2    Arkansas     47.7             39.7       1.4         7.8   12.5     32.8
3  California     40.5             10.9       5.2        11.3    8.0      5.0
4    Colorado     67.7              1.5       NaN        15.3    2.6      0.8

In [24]:
## Concatenate all quarters except q2 with no data
s_19 = pd.concat([s_q1, s_q3, s_q4])
s_19

,state,v_mites,other_pest_para,diseases,pesticides,other,unknown
0,Alabama,27.2,22.7,1.8,0.3,3.1,9.0
1,Arizona,25.8,7.9,6.5,16.2,8.4,0.2
2,Arkansas,19.5,1.5,3.3,55.3,0.7,2.9
3,California,43.5,13.4,6.4,12.3,8.7,5.6
4,Colorado,11.2,0.3,NaN,NaN,2.5,0.6
...,...,...,...,...,...,...,...
42,West Virginia,65.8,10.7,1.1,0.4,6.1,2.2
43,Wisconsin,40.0,22.1,14.8,14.1,22.0,7.3
44,Wyoming,27.6,12.3,3.2,NaN,4.3,13.2
45,Other States,13.6,2.3,0.3,0.3,32.4,0.9
46,United States,45.7,15.0,5.4,10.9,8.6,5.3

In [25]:
s_19 = round(s_19.groupby(["state"]).mean(), 2)
s_19 = s_19.reset_index(drop = False)
s_19

,state,v_mites,other_pest_para,diseases,pesticides,other,unknown
0,Alabama,34.83,24.67,1.77,1.80,7.27,8.90
1,Arizona,36.23,6.43,3.20,16.97,8.53,1.23
2,Arkansas,40.13,20.30,3.83,37.87,6.70,25.00
3,California,44.33,11.93,6.77,13.20,9.27,4.60
4,Colorado,52.90,4.77,4.80,12.75,4.83,0.80
5,Connecticut,18.87,6.43,2.40,NaN,3.07,1.27
6,Florida,45.10,23.70,6.53,17.60,8.97,7.03
7,Georgia,52.13,18.20,4.87,14.83,10.10,4.63
8,Hawaii,51.10,55.23,0.20,0.85,1.43,0.20
9,Idaho,34.90,9.23,11.70,9.87,12.33,0.63
10,Illinois,32.70,16.77,1.63,2.20,9.97,10.17
11,Indiana,30.67,13.00,2.73,11.77,9.30,1.23
12,Iowa,45.07,8.87,4.00,17.27,18.40,3.77
13,Kansas,73.40,18.87,12.07,26.50,7.73,6.30
14,Kentucky,27.93,16.87,0.23,5.27,10.20,7.70
15,Louisiana,52.63,28.87,1.33,19.33,3.20,1.43
16,Maine,10.97,0.40,0.10,2.50,0.63,0.37
17,Maryland,17.30,4.10,1.00,0.15,5.17,2.93
18,Massachusetts,10.30,1.55,0.50,2.15,2.70,6.30
19,Michigan,32.63,10.63,6.47,5.27,5.13,2.00
20,Minnesota,31.17,5.40,2.37,9.75,3.47,2.30
21,Mississippi,38.23,51.53,23.77,29.23,5.47,5.27
22,Missouri,14.33,5.10,0.83,0.47,3.00,1.40
23,Montana,19.60,3.93,5.30,2.57,2.57,0.80
24,Nebraska,22.43,1.67,16.90,2.37,4.07,2.80
25,New Jersey,14.63,2.53,0.30,0.20,1.77,0.40
26,New Mexico,16.07,10.17,0.63,NaN,1.60,0.30
27,New York,24.87,12.93,1.97,6.20,4.47,5.60
28,North Carolina,29.27,11.43,8.13,2.37,9.20,6.93
29,North Dakota,32.77,8.65,8.25,6.40,8.70,4.10
30,Ohio,41.03,12.83,5.23,1.17,5.30,4.87
31,Oklahoma,12.57,0.70,0.10,0.25,1.50,1.50
32,Oregon,29.73,5.00,8.23,5.70,11.97,5.63
33,Other States,10.60,2.87,1.60,4.00,11.97,0.87
34,Pennsylvania,23.97,6.00,2.17,4.07,3.77,6.00
35,South Carolina,40.03,14.83,0.77,7.13,15.03,3.67
36,South Dakota,7.80,3.20,1.75,7.37,5.33,1.73
37,Tennessee,60.27,33.47,2.65,14.53,8.93,5.90
38,Texas,23.70,12.93,4.77,8.23,6.63,2.17
39,United States,45.13,14.40,7.00,12.70,9.83,5.00
40,Utah,24.80,3.45,2.53,5.25,0.37,4.57
41,Vermont,16.47,1.90,1.23,0.80,0.43,0.73
42,Virginia,30.73,16.57,0.70,0.80,3.97,6.13
43,Washington,36.63,1.33,1.23,8.17,4.37,1.23
44,West Virginia,36.60,8.20,0.97,1.10,6.00,1.27
45,Wisconsin,34.10,15.27,9.80,11.10,14.10,5.40
46,Wyoming,24.67,6.35,2.20,2.20,3.70,6.00

In [26]:
s_19.to_csv("../hbcny_stress_19.csv", index=False)